@model IEnumerable<cozaStoreWeb.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Danh sách đặt hàng</h2>

<table class="table">
    <tr>
        <th>
            Tên khách hàng
        </th>
        <th>
            Ngày đặt
        </th>
        <th>
            Địa chỉ nhận hàng
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Tình trạng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.User.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.OrderDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.ActionLink("Duyệt đơn", "Edit", new { id = item.OrderID }) |
        <a href="@Url.Action("Index","OrderDetails", new { id = item.OrderID})">Chi tiết</a>
    </td>
</tr>
}

</table>
