@model IEnumerable<Promotion>

@{
    ViewBag.Title = "giảm giá sản phẩm";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Thêm sản phẩm giảm giá", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên sản phẩm
        </th>
        <th>
            Phần trăm giảm
        </th>
        <th>
            Ngày giảm
        </th>
        <th>
            ngày kết thúc
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Xóa", "Delete", new { id=item.PromotionId })
        </td>
    </tr>
}

</table>
